</main>
<h4><a href="/">Return Home</a></h4>
<footer>
    <h4>
        SpeakerBox: Powered By Spotify
        <img class="ptl-spotify-logo" src="../../assets/Spotify_Logo_RGB_White.png" alt="">
    </h4>
</footer>
</body>

</html>