<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <nav>
        <% if(user) { %>

            <h3>
                <a href="/logout">Log Out</a>
            </h3>

            <%  } else { %>

                <h3>
                    <a href="/auth/spotify">Login with spotify</a>
                </h3>

                <% } %>

                    <h3>
                        <a href="/tracks/index">Tracks</a>
                    </h3>

    </nav>
    <h1>
        SPEAKERBOX
    </h1>
    <p>
        Welcome to SpeakerBox!
    </p>
</body>

</html>