<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <nav>
        <a href="/authorize/spotify">Login with spotify</a>
    </nav>
    <h1>
        SPEAKERBOX
    </h1>
    <p>
        Welcome to SpeakerBox!
    </p>
</body>

</html>