<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>

    <nav>
        <% if(user) { %>

            <h3>
                <img class="spotify-icn" src="../assets/Spotify_Icon_RGB_White.png" alt="">
                <a href="/logout">Log Out</a>
            </h3>

            <%  } else { %>

                <h3>
                    <img class="spotify-icn" src="../assets/Spotify_Icon_RGB_White.png">

                    <a href="/auth/spotify">Login with Spotify</a>
                </h3>

                <% } %>

                    <h3>
                        <a href="/tracks">Tracks</a>
                    </h3>
                    <h3>
                        <a href="/artists">Artists</a>
                    </h3>
                    <h3>
                        <a href="/albums">Albums</a>
                    </h3>

    </nav>
    <main>
        <h1 id="open-hdr">
            SPEAKERBOX
        </h1>
    </main>
    <footer>
        <h4>
            SpeakerBox: Powered By Spotify
            <img class="ptl-spotify-logo" src="../../assets/Spotify_Logo_RGB_White.png" alt="">
        </h4>
    </footer>
</body>

</html>