* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: grid;
    display: flex;
    flex-direction: column;
    background: #36383d;
    color: whitesmoke;
    justify-content: center;
    align-content: center;
}

nav {
    justify-content: center;
    align-content: center;
}

main {
    font-family: 'Raleway', sans-serif;
}