* {
    box-sizing: border-box;
    margin: 0;
}

html {
    background: url("../images/big-marshall-stack.jpg") no-repeat center fixed;
    background-size: cover;
}

body {
    display: grid;
    display: flex;
    flex-direction: column;
    color: whitesmoke;
    justify-content: center;
    align-content: center;
    text-align: center;
    line-height: 1.5;
    font-size: 18px;
    min-height: 100vh;
}

nav {
    justify-content: space-around;
    align-content: center;
    display: flex;
    flex-direction: row;
    background-color: #100b08;
    height: 3rem;
    align-items: center;
}

main {
    font-family: 'Raleway', sans-serif;
    margin-top: 5rem;
    flex: 1 0 auto;
}

h1 {
    color: whitesmoke
}

p {
    color: whitesmoke;
    font-size: 16px;
    font-weight: bold;
}

li {
    list-style: none;
}

a {
    color: whitesmoke;
}

a:hover {
    color: #1DB954
}

footer {
    background-color: #100b08;
    color: whitesmoke;
    height: 2rem;
}

.spotify-icn {
    width: 26px;
    height: 26px;
}

.ptl-spotify-icn {
    width: 26px;
    height: 26px;
}

.ptl-spotify-logo {
    width: 70px;
    height: auto;
}

#open-hdr {
    color: #b3936a;
    font-size: 3rem;
}