<%- include("../partials/header") %>
    <section id="album-section">
        <h2>Enter Your Favorite Albums:</h2>
        <form action="/albums" id="new-album" method="POST">
            <label>Enter Album Title</label>
            <input type="text" name="title" placeholder="Enter An Album Title Here">
            <label>Select Release Date</label>
            <input type="date" name=releaseDate>
            <label>Enter a Label</label>
            <input type="text" name="label" placeholder="Enter the Record Label Here">
            <input type="submit" value="Submit Album">
        </form>

        <ul id="album-list">
            <% if(albums.length) { %>
                <%  albums.forEach(function(al) { %>

                    <li>
                        <%= al.title  %>
                            <a href="/albums/<%= al._id %>">Show Album Details</a>

                    </li>

                    <% }); %>

                        <% } else { %>

                            <h3>No Albums to Display Yet!</h3>

                            <% } %>

        </ul>

    </section>






    <%- include("../partials/footer") %>