<%- include("../partials/header") %>
    <section id="track-section">
        <h2>Enter your favorite tracks:</h2>
        <form action="/tracks" id="new-track" method="POST">
            <label>Enter Track Title</label>
            <input type="text" name="title" placeholder="Enter A Track Title Here">
            <label>Enter Release Date</label>
            <input type="date" name=releaseDate>
            <input type="submit" value="Submit Track">
        </form>

        <ul id="track-list">
            <% if(tracks.length) { %>
                <%  tracks.forEach(function(t) { %>
                    <% if(t.author && t.author.equals(user && user._id)) { %>

                        <li>
                            <%= t.title  %>
                        </li>

                        <% } %>
                            <% }); %>

                                <% } else { %>

                                    <h3>No Tracks to Display Yet!</h3>

                                    <% } %>

        </ul>

    </section>






    <%- include("../partials/footer") %>