<%- include("../partials/header") %>
    <section id="artist-section">
        <h2>Enter Your Favorite Artists:</h2>
        <form action="/artists" id="new-artist" method="POST">
            <label>Enter Artist Name</label>
            <input type="text" name="name" placeholder="Enter Artist's Name Here">
            <label>Enter Artist's Genre</label>
            <input type="text" name=genre placeholder="Enter Genre Here">
            <input type="submit" value="Submit Artist">
        </form>

        <ul id="artist-list">
            <% if(artists.length) { %>
                <%  artists.forEach(function(a) { %>

                    <li>
                        <%= a.name  %>
                    </li>

                    <% }); %>

                        <% } else { %>

                            <h3>No Artists to Display Yet!</h3>

                            <% } %>

        </ul>

    </section>






    <%- include("../partials/footer") %>